h1 {
    line-height: 44px;
}
#headerNav ul {
	padding-top: 17px;
}

#pageNav {
        background-color: #fafafa;
        border: 1px solid #eee;
	    font-size: 0.9em;
        padding: 10px 10px 5px 10px;
        margin: 10px 0;
	    width: 97.5%;
        text-align: left;
}

ul#preftoc {
    margin: 8px 0 12px 0;
    padding: 8px 0 8px 8px;
    background-color: #fafafa;
}

#pageNav ul {
    display: inline-block;
	list-style-type: none;
	padding: 0 0 0.35em 16px;
	margin: 0;
}

li.selected {
    text-decoration: underline;
}

#pageNav ul li,
ul#preftoc li {
	display: inline;
	padding-right: 1em;
}

#pageNav, #pageNav a,
#preftoc, #preftoc a {
	color: #505050;
}

#pageNav #t-page {
	background: url(images/page.png) no-repeat 0px 1px;
}
#pageNav #t-toolbox {
	background: url(images/wrench.png) no-repeat 0px 1px;
	
}
#pageNav #t-personal {
	background: url(images/house.png) no-repeat 0px 1px;
	
}

#pageNav li#ca-form_edit a {
	color: #111;
}

#title {
	padding-right: 5px;
}
#title h2 {
	margin-right: 200px !important;
}
#title .sideitem {
	float: right;
	padding-top: 0.5em;
}

#title .sideitem #searchform	{
	margin-bottom: 0.15em;
}

#title .sideitem input#s {
	width: 96px;
}

#title .sideitem #searchsubmit	{}

#title .sideitem span {
}

#toc {
	position: absolute;
	top: 1em;
	right: 0px;
	width: 230px;
	padding-top: 1.39em;
	padding-left: 1em;
	font-size: 90%;
	background-color: #f6f6f6;
}

#toc ul {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
}

#toc h2 {
	margin-top: 0;
}

.editsection {
    clear: right;
    font-size: 80%;
}

#toc li.toclevel-2, #toc li.toclevel-3, #toc li.toclevel-4 {
	margin-left: 1em !important;
}

.noToc {
}

#footmeta {
    display: block;
    background-color: #fefefe;
    padding: 14px 0 0 0;
    margin: 2% 0 1% 0;
    list-style: none;
    list-style-type: none;
    clear: both;

}

#footmeta li {
    padding: 0 10px 0 0;
    margin: 0;
    display: inline;
}
    

textarea#wpTextbox1 {
    width: 100%;
}

.page textarea {
    width: 100%;
    margin: 8px 0;
}

#editform {
    width: 99%;
}

#toolbar {
    margin-top: 12px;
}

label {
    float: none;
}

.editOptions input#wpSummary {
    width: 100%;
}

table {
    border: none;
}
table th, table td {
    padding-left: 0;
    padding-right: 0;
}


body.ltr td.mw-label {
    text-align: left;
    width: 30%;
}

td.mw-label {
    vertical-align: inherit;
}

input#showlinkedto {
    margin-left: 4px;
}

input#mw-ilsearch,
input {
    margin: 2px 0;
}

input#search {
    margin: 0;
}

.mw-specialpage-summary {
    padding-bottom: 8px;
}

.rcoptions {
    line-height: 16px;
}

#pagehistory li.selected {
    border: none;
}

li.selected {
    text-decoration: none;
}

fieldset {
    width: auto;
}

.rcoptions fieldset legend,
fieldset legend {
   margin-left: 0;
    width: auto;
}

